﻿@page "/"
@using Microsoft.AspNetCore.Components.Sections

@inject ILoadingService LoadingService

<button @onclick="ShowAsync">Show Loading</button>
<LoadingScreen>
	<span style="margin: auto">Custom Loading Spinner...</span>
</LoadingScreen>

@code {
	private async Task ShowAsync()
	{
		using (LoadingService.Show())
		{
			await Task.Delay(TimeSpan.FromSeconds(5));
		}
	}
}
