﻿div.loading__container {
    margin: auto;

    display: grid;
    grid-auto-flow: row;
    row-gap: 1rem;
}

span.loading__text {
    font-size: 1.2rem;
}

img.loading__image {
    animation: spinning 2s infinite;
    animation-timing-function: step-start;

    width: 5rem;
}

@keyframes spinning {
    12.5% { transform: rotate(45deg) }
    25% { transform: rotate(90deg) }
    37.5% { transform: rotate(135deg) }
    50% { transform: rotate(180deg) }
    62.5% { transform: rotate(225deg) }
    75% { transform: rotate(270deg) }
    87.5% { transform: rotate(315deg) }
    100% { transform: rotate(360deg) }
}