﻿@namespace Blazter

@using Blazter.Overlay.Loading.Services
@using Microsoft.AspNetCore.Components.Sections

@inject LoadingService LoadingService

<OverlayContainer Visible="LoadingService.Visible">
	@ChildContent
	@if (ChildContent is null)
	{
		<div data-testId="cntLoading" class="loading__container">
				<img class="loading__image" src="_content/Blazter.Overlay.LoadingScreen/assets/spinner.svg" />
				<span class="loading__text">Loading...</span>
		</div>		
	}
</OverlayContainer>


@code {
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	protected override void OnInitialized()
	{
		LoadingService.Changed += (_, __) => StateHasChanged();
	}
}
